html {
    scroll-behavior: smooth;
  }
body {
    font-size: 28px;
    background-image: url("Background.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2c3d;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #000;
    border-radius: 20px;
}
  
  .active {
    background-color: #4287AE;
}
.header {
    text-align: center;
    font-size: larger;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.font-effect-fire {
    margin-bottom: 10px;
}
h1 {
    text-shadow: 2px 2px #112C33;
    color: #90C7D6;
    margin-bottom: -30px;
}